doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title WikiLatic: Description
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
        style.
            body {padding-top: 3.5rem;}
            form {margin-right: 1rem;}
            img {width: 100%;height:90%;objec-fit: cover;}
    body
        nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link Data Analytic Web Application (WikiLatic)
                form(action='/signin')
                    button.btn Signin
                form(action='/signup')
                    button.btn Signup
        main
            div.jumbotron
                div.container
                    h1 WikiLatic
                    p This is a small data analytic web application. The main dataset contains a number of files in JSON formats storing revision histories of Wikipedia articles. The dataset was created by querying wikipediaAPI. The articles are selected from Featured Articles.
                    p
                        a.btn.btn-primary.btn-lg(href='#',role='button') Learn more »
                    div.row
                        .col-md-4
                            p Example bar chart showing overall yearly revision number distribution
                            img(src='img/fig1.png')
                        .col-md-4
                            p Example Pie chart showing user type distribution
                            br
                            img(src='img/fig4.png')
                        .col-md-4
                            p Example Pie chart showing user type distribution
                            br
                            img(src='img/fig5.png')
        footer.container
            p &copy; WikiLatic 2018 Group23