doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title WikiLatic: Sign in
        script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
        script(src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js")
        script(src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js")
        script(src="signin.js")
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='css/landing.css', rel='stylesheet')
    body.text-center
        form.form-signin
            div#alertError.alert.alert-danger.fade.show
                p Incorrect username or password.
            h1.h3.mb-3.font-weight-normal Sign in to WikiLatic
            input#inputEmail.form-control(type='email', name='email',placeholder='Email address', required='', autofocus='')
            input#inputPassword.form-control(type='password',name='password' ,placeholder='Password', required='')
            br
            button#signinBtn.btn.btn-lg.btn-primary.btn-block Sign in
            br
            p New to WikiLatic?
                a(href='/signup')  Create an account
            p.mt-5.mb-3.text-muted &copy; WikiLatic 2018 Group23