<script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

<body>

<div>

  <div class="card text-white bg-secondary mb-12">
    <div class="card-header">Overall Analytics</div>
    <div class="card-body">
      <table class="table table-hover">
        <tbody>
          <tr>
            <td>The articles with highest number of revisions:</td>
            <td><ul><li *ngFor="let mostRev of mostRevs">{{mostRev}}</li></ul></td>
          </tr>
          <tr>
            <td>The articles with lowest number of revisions:</td>
            <td><ul><li *ngFor="let leastRev of leastRevs">{{leastRev}}</li></ul></td>
          </tr>
          <tr>
            <td>The number of articles with highest and lowest number of revisions to display:</td>
            <td class="input-group">
              <input class="form-control" type="number" min="1" [(ngModel)]="revNum">
              <span class="input-group-btn"><button class="btn btn-info" (click)="changeRevNums(revNum)">Change</button></span>
            </td>
          </tr>
          <tr>
            <td>The article edited by largest group of registered users:</td>
            <td><ul><li *ngFor="let lGP of largeGP">{{lGP}}</li></ul></td>
          </tr>
          <tr>
            <td>The article edited by smallest groups of registered users:</td>
            <td><ul><li *ngFor="let sGP of smallGP">{{sGP}}</li></ul></td>
          </tr>
          <tr>
            <td>The top 3 articles with the longest history (measured by age):</td>
            <td><ul><li *ngFor="let lHis of longHis">{{lHis}}</li></ul></td>
          </tr>
          <tr>
            <td>The article with the shortest history (measured by age):</td>
            <td><ul><li *ngFor="let sHis of shortHis">{{sHis}}</li></ul></td>
          </tr>
          <tr>
            <td colspan="2">
              <select class="col-md-6" ng-change="drawChart()" ng-model="value">
                <option value="null">Select Chart Type</option>
                <option value="bar">Bar Chart</option>
                <option value="pie">Pie Chart</option>
              </select>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <canvas id="polar-area" class="chart chart-polar-area"
                      chart-data="data" chart-labels="labels" chart-options="options">
              </canvas>
              <script>
                angular.module("app", ["chart.js"]).controller("PolarAreaCtrl", function ($scope) {
                  $scope.labels = ["Download Sales", "In-Store Sales", "Mail-Order Sales", "Tele Sales", "Corporate Sales"];
                  $scope.data = [300, 500, 100, 40, 120];
                });
              </script>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card text-white bg-secondary mb-12">
    <div class="card-header">Individual Article Analytics</div>
    <div class="card-body">
      <table class="table table-hover">
        <tr>
          <td id="alert" colspan="2"></td>
        </tr>
        <tr>
          <td class="col-md-6"><select id="articleList"><option value="-1">Select Article</option></select></td>
          <td><div class="input-group"><input class="form-control" id="titleInput" type="text" placeholder="Or enter an article title here..."><span class="input-group-btn"><button class="btn btn-info" id="titleBtn">Search</button></span></div></td>
        </tr>
        <tr>
          <td>Title:</td>
          <td id="SelectedTitle"></td>
        </tr>
        <tr>
          <td>Total number of revisions:</td>
          <td id="SelectedRevisions"></td>
        </tr>
        <tr>
          <td>Top 5 users:</td>
          <td id="SelectedTop5"></td>
        </tr>
        <tr>
          <td colspan="2">
          <div class="col-md-3"><select id="chartType"><option value="-1">Select Chart Type</option><option value="0">Bar Chart</option><option value="1">Pie Chart</option><option value="2">Bar Chart By Top5 Users</option></select></div>
          <div class="col-md-6" id="checkboxArea"></div>
          <div class="col-md-3"><button class="btn btn-info" id="submit">Draw</button></div>
          </td>
        </tr>
        <tr>
          <td colspan="2"><div id="IndividualChart"></div></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="card text-white bg-secondary mb-12">
    <div class="card-header">Author Analytics</div>
    <div class="card-body">
      <table class="table table-hover">
        <tr>
          <td class="input-group"><input class="form-control" id="authorInput" type="text" placeholder="Enter author name here..."><span class="input-group-btn"><button class="btn btn-info" id="authorBtn">Search</button></span></td>
        </tr>
        <tr>
          <td id="selectedAuthor">Author:</td>
        </tr>
        <tr>
          <td id="authorArticlesList">Articles list below:</td>
        </tr>
        <tr>
          <td><div class="panel-group" id="accordion"></div></td>
        </tr>
      </table>
    </div>
  </div>

</div>

</body>
